src/power-apps/v0.2.x/v0.2.0/.unpacked/pkgs/Wadl/ShiftsforMicrosoftTeams.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://power-apis-usgov001-public.azure-apihub.us/apim/shifts" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="ShiftsforMicrosoftTeams" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Shifts for Microsoft Teams">For managers, plan shift schedules, broadcast open and unfilled shifts to your team. For team members, easily view your shifts and make schedule-change requests (swap/offer/time off).</doc>
  <grammars>
    <jsonTypes targetNamespace="https://power-apis-usgov001-public.azure-apihub.us/apim/shifts" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="WebHookRequest_notificationUrl_def" />
      <object name="WebHookRequest">
        <property name="notificationUrl" type="string" />
      </object>
      <array typeRef="WebhookNotificationEntity" name="WebhookPushResponse_value_def" />
      <object name="WebhookPushResponse">
        <property name="value" typeRef="WebhookPushResponse_value_def" />
      </object>
      <string name="WebhookNotificationEntity_subscriptionId_def" />
      <dateTimeString name="WebhookNotificationEntity_expirationDateTime_def" />
      <string name="WebhookNotificationEntity_changeType_def" />
      <object name="WebhookNotificationEntity">
        <property name="subscriptionId" type="string" />
        <property name="expirationDateTime" typeRef="WebhookNotificationEntity_expirationDateTime_def" />
        <property name="changeType" type="string" />
        <property name="resourceData" typeRef="WebhookPushResponseResourceEntity" />
      </object>
      <string name="WebhookPushResponseResourceEntity__ux40_odata_id_def" />
      <string name="WebhookPushResponseResourceEntity__ux40_odata_type_def" />
      <string name="WebhookPushResponseResourceEntity_id_def" />
      <string name="WebhookPushResponseResourceEntity_teamId_def" />
      <object name="WebhookPushResponseResourceEntity">
        <property name="@odata.id" type="string" />
        <property name="@odata.type" type="string" />
        <property name="id" type="string" />
        <property name="teamId" type="string" />
      </object>
      <string name="Subscription_id_def" />
      <string name="Subscription_resource_def" />
      <string name="Subscription_applicationId_def" />
      <string name="Subscription_changeType_def" />
      <string name="Subscription_clientState_def" />
      <string name="Subscription_notificationUrl_def" />
      <string name="Subscription_expirationDateTime_def" />
      <string name="Subscription_creatorId_def" />
      <object name="Subscription">
        <property name="id" type="string" />
        <property name="resource" type="string" />
        <property name="applicationId" type="string" />
        <property name="changeType" type="string" />
        <property name="clientState" type="string" />
        <property name="notificationUrl" type="string" />
        <property name="expirationDateTime" type="string" />
        <property name="creatorId" type="string" />
      </object>
      <string name="ScheduleResponse_id_def" />
      <string name="ScheduleResponse_timeZone_def" />
      <string name="ScheduleResponse_provisionStatus_def" />
      <string name="ScheduleResponse_provisionStatusCode_def" />
      <object name="ScheduleResponse">
        <property name="id" type="string" />
        <property name="timeZone" type="string" />
        <property name="provisionStatus" type="string" />
        <property name="provisionStatusCode" type="string" />
      </object>
      <string name="TimeOffResponse_id_def" />
      <dateTimeString name="TimeOffResponse_createdDateTime_def" />
      <dateTimeString name="TimeOffResponse_lastModifiedDateTime_def" />
      <string name="TimeOffResponse_userId_def" />
      <object name="TimeOffResponse">
        <property name="id" type="string" />
        <property name="createdDateTime" typeRef="TimeOffResponse_createdDateTime_def" />
        <property name="lastModifiedDateTime" typeRef="TimeOffResponse_lastModifiedDateTime_def" />
        <property name="userId" type="string" />
        <property name="userInfo" typeRef="UserInfo" />
        <property name="teamInfo" typeRef="TeamInfo" />
        <property name="sharedTimeOff" typeRef="SharedTimeOff" />
        <property name="draftTimeOff" typeRef="DraftTimeOff" />
      </object>
      <string name="SharedTimeOff_timeOffReasonId_def" />
      <dateTimeString name="SharedTimeOff_startDateTime_def" />
      <dateTimeString name="SharedTimeOff_endDateTime_def" />
      <object name="SharedTimeOff">
        <property name="timeOffReasonId" type="string" />
        <property name="startDateTime" typeRef="SharedTimeOff_startDateTime_def" />
        <property name="endDateTime" typeRef="SharedTimeOff_endDateTime_def" />
        <property name="theme" type="string" />
      </object>
      <string name="DraftTimeOff_timeOffReasonId_def" />
      <dateTimeString name="DraftTimeOff_startDateTime_def" />
      <dateTimeString name="DraftTimeOff_endDateTime_def" />
      <object name="DraftTimeOff">
        <property name="timeOffReasonId" type="string" />
        <property name="startDateTime" typeRef="DraftTimeOff_startDateTime_def" />
        <property name="endDateTime" typeRef="DraftTimeOff_endDateTime_def" />
        <property name="theme" type="string" />
      </object>
      <string name="ShiftResponse_id_def" />
      <dateTimeString name="ShiftResponse_createdDateTime_def" />
      <dateTimeString name="ShiftResponse_lastModifiedDateTime_def" />
      <string name="ShiftResponse_userId_def" />
      <string name="ShiftResponse_schedulingGroupId_def" />
      <object name="ShiftResponse">
        <property name="id" type="string" />
        <property name="createdDateTime" typeRef="ShiftResponse_createdDateTime_def" />
        <property name="lastModifiedDateTime" typeRef="ShiftResponse_lastModifiedDateTime_def" />
        <property name="userId" type="string" />
        <property name="schedulingGroupId" type="string" />
        <property name="schedulingGroupInfo" typeRef="SchedulingGroupInfo" />
        <property name="userInfo" typeRef="UserInfo" />
        <property name="teamInfo" typeRef="TeamInfo" />
        <property name="sharedShift" typeRef="SharedShift" />
        <property name="draftShift" typeRef="DraftShift" />
      </object>
      <string name="SharedShift_displayName_def" />
      <string name="SharedShift_notes_def" />
      <dateTimeString name="SharedShift_startDateTime_def" />
      <dateTimeString name="SharedShift_endDateTime_def" />
      <object name="SharedShift">
        <property name="displayName" type="string" />
        <property name="notes" type="string" />
        <property name="startDateTime" typeRef="SharedShift_startDateTime_def" />
        <property name="endDateTime" typeRef="SharedShift_endDateTime_def" />
        <property name="theme" type="string" />
        <property name="activities" typeRef="Activities" />
      </object>
      <string name="DraftShift_displayName_def" />
      <string name="DraftShift_notes_def" />
      <dateTimeString name="DraftShift_startDateTime_def" />
      <dateTimeString name="DraftShift_endDateTime_def" />
      <object name="DraftShift">
        <property name="displayName" type="string" />
        <property name="notes" type="string" />
        <property name="startDateTime" typeRef="DraftShift_startDateTime_def" />
        <property name="endDateTime" typeRef="DraftShift_endDateTime_def" />
        <property name="theme" type="string" />
        <property name="activities" typeRef="Activities" />
      </object>
      <string name="Theme" />
      <boolean name="Activities_items_def_isPaid_def" />
      <dateTimeString name="Activities_items_def_startDateTime_def" />
      <dateTimeString name="Activities_items_def_endDateTime_def" />
      <string name="Activities_items_def_code_def" />
      <string name="Activities_items_def_displayName_def" />
      <object name="Activities_items_def">
        <property name="isPaid" type="boolean" />
        <property name="startDateTime" typeRef="Activities_items_def_startDateTime_def" />
        <property name="endDateTime" typeRef="Activities_items_def_endDateTime_def" />
        <property name="code" type="string" />
        <property name="displayName" type="string" />
      </object>
      <array typeRef="Activities_items_def" name="Activities" />
      <string name="SchedulingGroupResponse_id_def" />
      <string name="SchedulingGroupResponse_displayName_def" />
      <boolean name="SchedulingGroupResponse_isActive_def" />
      <string name="SchedulingGroupResponse_userIds_def_items_def" />
      <array type="string" name="SchedulingGroupResponse_userIds_def" />
      <object name="SchedulingGroupResponse">
        <property name="id" type="string" />
        <property name="displayName" type="string" />
        <property name="isActive" type="boolean" />
        <property name="userIds" typeRef="SchedulingGroupResponse_userIds_def" />
      </object>
      <string name="SchedulingGroupInfo_schedulingGroupId_def" />
      <string name="SchedulingGroupInfo_displayName_def" />
      <string name="SchedulingGroupInfo_code_def" />
      <object name="SchedulingGroupInfo">
        <property name="schedulingGroupId" type="string" />
        <property name="displayName" type="string" />
        <property name="code" type="string" />
      </object>
      <string name="UserInfo_userId_def" />
      <string name="UserInfo_displayName_def" />
      <object name="UserInfo">
        <property name="userId" type="string" />
        <property name="displayName" type="string" />
      </object>
      <string name="TeamInfo_teamId_def" />
      <string name="TeamInfo_displayName_def" />
      <object name="TeamInfo">
        <property name="teamId" type="string" />
        <property name="displayName" type="string" />
      </object>
      <string name="EditOpenShiftRequest_schedulingGroupId_def" />
      <string name="EditOpenShiftRequest_sharedOpenShift_def_displayName_def" />
      <string name="EditOpenShiftRequest_sharedOpenShift_def_notes_def" />
      <dateTimeString name="EditOpenShiftRequest_sharedOpenShift_def_startDateTime_def" />
      <dateTimeString name="EditOpenShiftRequest_sharedOpenShift_def_endDateTime_def" />
      <integer name="EditOpenShiftRequest_sharedOpenShift_def_openSlotCount_def" />
      <object name="EditOpenShiftRequest_sharedOpenShift_def">
        <property name="displayName" type="string" />
        <property name="notes" type="string" />
        <property name="startDateTime" typeRef="EditOpenShiftRequest_sharedOpenShift_def_startDateTime_def" />
        <property name="endDateTime" typeRef="EditOpenShiftRequest_sharedOpenShift_def_endDateTime_def" />
        <property name="theme" type="string" />
        <property name="openSlotCount" type="integer" />
        <property name="activities" typeRef="Activities" />
      </object>
      <object name="EditOpenShiftRequest">
        <property name="schedulingGroupId" type="string" />
        <property name="sharedOpenShift" typeRef="EditOpenShiftRequest_sharedOpenShift_def" />
      </object>
      <string name="OpenShiftResponse_id_def" />
      <dateTimeString name="OpenShiftResponse_createdDateTime_def" />
      <dateTimeString name="OpenShiftResponse_lastModifiedDateTime_def" />
      <string name="OpenShiftResponse_schedulingGroupId_def" />
      <object name="OpenShiftResponse">
        <property name="id" type="string" />
        <property name="createdDateTime" typeRef="OpenShiftResponse_createdDateTime_def" />
        <property name="lastModifiedDateTime" typeRef="OpenShiftResponse_lastModifiedDateTime_def" />
        <property name="schedulingGroupId" type="string" />
        <property name="schedulingGroupInfo" typeRef="SchedulingGroupInfo" />
        <property name="teamInfo" typeRef="TeamInfo" />
        <property name="sharedOpenShift" typeRef="SharedOpenShift" />
        <property name="draftOpenShift" typeRef="DraftOpenShift" />
      </object>
      <string name="SharedOpenShift_displayName_def" />
      <string name="SharedOpenShift_notes_def" />
      <dateTimeString name="SharedOpenShift_startDateTime_def" />
      <dateTimeString name="SharedOpenShift_endDateTime_def" />
      <integer name="SharedOpenShift_openSlotCount_def" />
      <object name="SharedOpenShift">
        <property name="displayName" type="string" />
        <property name="notes" type="string" />
        <property name="startDateTime" typeRef="SharedOpenShift_startDateTime_def" />
        <property name="endDateTime" typeRef="SharedOpenShift_endDateTime_def" />
        <property name="theme" type="string" />
        <property name="openSlotCount" type="integer" />
        <property name="activities" typeRef="Activities" />
      </object>
      <string name="DraftOpenShift_displayName_def" />
      <string name="DraftOpenShift_notes_def" />
      <dateTimeString name="DraftOpenShift_startDateTime_def" />
      <dateTimeString name="DraftOpenShift_endDateTime_def" />
      <integer name="DraftOpenShift_openSlotCount_def" />
      <object name="DraftOpenShift">
        <property name="displayName" type="string" />
        <property name="notes" type="string" />
        <property name="startDateTime" typeRef="DraftOpenShift_startDateTime_def" />
        <property name="endDateTime" typeRef="DraftOpenShift_endDateTime_def" />
        <property name="theme" type="string" />
        <property name="openSlotCount" type="integer" />
        <property name="activities" typeRef="Activities" />
      </object>
      <string name="GetTimeOffReasonsResponse__ux40_odata_context_def" />
      <string name="GetTimeOffReasonsResponse_value_def_items_def_id_def" />
      <dateTimeString name="GetTimeOffReasonsResponse_value_def_items_def_createdDateTime_def" />
      <dateTimeString name="GetTimeOffReasonsResponse_value_def_items_def_lastModifiedDateTime_def" />
      <string name="GetTimeOffReasonsResponse_value_def_items_def_displayName_def" />
      <string name="GetTimeOffReasonsResponse_value_def_items_def_iconType_def" />
      <boolean name="GetTimeOffReasonsResponse_value_def_items_def_isActive_def" />
      <object name="GetTimeOffReasonsResponse_value_def_items_def">
        <property name="id" type="string" />
        <property name="createdDateTime" typeRef="GetTimeOffReasonsResponse_value_def_items_def_createdDateTime_def" />
        <property name="lastModifiedDateTime" typeRef="GetTimeOffReasonsResponse_value_def_items_def_lastModifiedDateTime_def" />
        <property name="displayName" type="string" />
        <property name="iconType" type="string" />
        <property name="isActive" type="boolean" />
      </object>
      <array typeRef="GetTimeOffReasonsResponse_value_def_items_def" name="GetTimeOffReasonsResponse_value_def" />
      <object name="GetTimeOffReasonsResponse">
        <property name="@odata.context" type="string" />
        <property name="value" typeRef="GetTimeOffReasonsResponse_value_def" />
      </object>
      <string name="TimeOffRequestResponse_id_def" />
      <dateTimeString name="TimeOffRequestResponse_createdDateTime_def" />
      <dateTimeString name="TimeOffRequestResponse_lastModifiedDateTime_def" />
      <string name="TimeOffRequestResponse_assignedTo_def" />
      <string name="TimeOffRequestResponse_state_def" />
      <dateTimeString name="TimeOffRequestResponse_senderDateTime_def" />
      <string name="TimeOffRequestResponse_senderMessage_def" />
      <string name="TimeOffRequestResponse_senderUserId_def" />
      <dateTimeString name="TimeOffRequestResponse_managerActionDateTime_def" />
      <string name="TimeOffRequestResponse_managerActionMessage_def" />
      <string name="TimeOffRequestResponse_managerUserId_def" />
      <dateTimeString name="TimeOffRequestResponse_startDateTime_def" />
      <dateTimeString name="TimeOffRequestResponse_endDateTime_def" />
      <string name="TimeOffRequestResponse_timeOffReasonId_def" />
      <object name="TimeOffRequestResponse">
        <property name="id" type="string" />
        <property name="createdDateTime" typeRef="TimeOffRequestResponse_createdDateTime_def" />
        <property name="lastModifiedDateTime" typeRef="TimeOffRequestResponse_lastModifiedDateTime_def" />
        <property name="assignedTo" type="string" />
        <property name="state" type="string" />
        <property name="senderDateTime" typeRef="TimeOffRequestResponse_senderDateTime_def" />
        <property name="senderMessage" type="string" />
        <property name="senderUserId" type="string" />
        <property name="managerActionDateTime" typeRef="TimeOffRequestResponse_managerActionDateTime_def" />
        <property name="managerActionMessage" type="string" />
        <property name="managerUserId" type="string" />
        <property name="startDateTime" typeRef="TimeOffRequestResponse_startDateTime_def" />
        <property name="endDateTime" typeRef="TimeOffRequestResponse_endDateTime_def" />
        <property name="timeOffReasonId" type="string" />
      </object>
      <string name="OfferShiftRequestResponse_id_def" />
      <dateTimeString name="OfferShiftRequestResponse_createdDateTime_def" />
      <dateTimeString name="OfferShiftRequestResponse_lastModifiedDateTime_def" />
      <string name="OfferShiftRequestResponse_assignedTo_def" />
      <string name="OfferShiftRequestResponse_state_def" />
      <dateTimeString name="OfferShiftRequestResponse_senderDateTime_def" />
      <string name="OfferShiftRequestResponse_senderMessage_def" />
      <string name="OfferShiftRequestResponse_senderUserId_def" />
      <string name="OfferShiftRequestResponse_senderShiftId_def" />
      <dateTimeString name="OfferShiftRequestResponse_recipientActionDateTime_def" />
      <string name="OfferShiftRequestResponse_recipientActionMessage_def" />
      <string name="OfferShiftRequestResponse_recipientUserId_def" />
      <dateTimeString name="OfferShiftRequestResponse_managerActionDateTime_def" />
      <string name="OfferShiftRequestResponse_managerActionMessage_def" />
      <string name="OfferShiftRequestResponse_managerUserId_def" />
      <object name="OfferShiftRequestResponse">
        <property name="id" type="string" />
        <property name="createdDateTime" typeRef="OfferShiftRequestResponse_createdDateTime_def" />
        <property name="lastModifiedDateTime" typeRef="OfferShiftRequestResponse_lastModifiedDateTime_def" />
        <property name="assignedTo" type="string" />
        <property name="state" type="string" />
        <property name="senderDateTime" typeRef="OfferShiftRequestResponse_senderDateTime_def" />
        <property name="senderMessage" type="string" />
        <property name="senderUserId" type="string" />
        <property name="senderShiftId" type="string" />
        <property name="recipientActionDateTime" typeRef="OfferShiftRequestResponse_recipientActionDateTime_def" />
        <property name="recipientActionMessage" type="string" />
        <property name="recipientUserId" type="string" />
        <property name="managerActionDateTime" typeRef="OfferShiftRequestResponse_managerActionDateTime_def" />
        <property name="managerActionMessage" type="string" />
        <property name="managerUserId" type="string" />
      </object>
      <string name="SwapShiftsChangeRequestResponse_id_def" />
      <dateTimeString name="SwapShiftsChangeRequestResponse_createdDateTime_def" />
      <dateTimeString name="SwapShiftsChangeRequestResponse_lastModifiedDateTime_def" />
      <string name="SwapShiftsChangeRequestResponse_assignedTo_def" />
      <string name="SwapShiftsChangeRequestResponse_state_def" />
      <dateTimeString name="SwapShiftsChangeRequestResponse_senderDateTime_def" />
      <string name="SwapShiftsChangeRequestResponse_senderMessage_def" />
      <string name="SwapShiftsChangeRequestResponse_senderUserId_def" />
      <string name="SwapShiftsChangeRequestResponse_senderShiftId_def" />
      <dateTimeString name="SwapShiftsChangeRequestResponse_recipientActionDateTime_def" />
      <string name="SwapShiftsChangeRequestResponse_recipientActionMessage_def" />
      <string name="SwapShiftsChangeRequestResponse_recipientUserId_def" />
      <string name="SwapShiftsChangeRequestResponse_recipientShiftId_def" />
      <dateTimeString name="SwapShiftsChangeRequestResponse_managerActionDateTime_def" />
      <string name="SwapShiftsChangeRequestResponse_managerActionMessage_def" />
      <string name="SwapShiftsChangeRequestResponse_managerUserId_def" />
      <object name="SwapShiftsChangeRequestResponse">
        <property name="id" type="string" />
        <property name="createdDateTime" typeRef="SwapShiftsChangeRequestResponse_createdDateTime_def" />
        <property name="lastModifiedDateTime" typeRef="SwapShiftsChangeRequestResponse_lastModifiedDateTime_def" />
        <property name="assignedTo" type="string" />
        <property name="state" type="string" />
        <property name="senderDateTime" typeRef="SwapShiftsChangeRequestResponse_senderDateTime_def" />
        <property name="senderMessage" type="string" />
        <property name="senderUserId" type="string" />
        <property name="senderShiftId" type="string" />
        <property name="recipientActionDateTime" typeRef="SwapShiftsChangeRequestResponse_recipientActionDateTime_def" />
        <property name="recipientActionMessage" type="string" />
        <property name="recipientUserId" type="string" />
        <property name="recipientShiftId" type="string" />
        <property name="managerActionDateTime" typeRef="SwapShiftsChangeRequestResponse_managerActionDateTime_def" />
        <property name="managerActionMessage" type="string" />
        <property name="managerUserId" type="string" />
      </object>
      <string name="OpenShiftChangeRequestResponse_id_def" />
      <dateTimeString name="OpenShiftChangeRequestResponse_createdDateTime_def" />
      <dateTimeString name="OpenShiftChangeRequestResponse_lastModifiedDateTime_def" />
      <string name="OpenShiftChangeRequestResponse_assignedTo_def" />
      <string name="OpenShiftChangeRequestResponse_state_def" />
      <dateTimeString name="OpenShiftChangeRequestResponse_senderDateTime_def" />
      <string name="OpenShiftChangeRequestResponse_senderMessage_def" />
      <string name="OpenShiftChangeRequestResponse_senderUserId_def" />
      <dateTimeString name="OpenShiftChangeRequestResponse_managerActionDateTime_def" />
      <string name="OpenShiftChangeRequestResponse_managerActionMessage_def" />
      <string name="OpenShiftChangeRequestResponse_managerUserId_def" />
      <string name="OpenShiftChangeRequestResponse_openShiftId_def" />
      <object name="OpenShiftChangeRequestResponse">
        <property name="id" type="string" />
        <property name="createdDateTime" typeRef="OpenShiftChangeRequestResponse_createdDateTime_def" />
        <property name="lastModifiedDateTime" typeRef="OpenShiftChangeRequestResponse_lastModifiedDateTime_def" />
        <property name="assignedTo" type="string" />
        <property name="state" type="string" />
        <property name="senderDateTime" typeRef="OpenShiftChangeRequestResponse_senderDateTime_def" />
        <property name="senderMessage" type="string" />
        <property name="senderUserId" type="string" />
        <property name="managerActionDateTime" typeRef="OpenShiftChangeRequestResponse_managerActionDateTime_def" />
        <property name="managerActionMessage" type="string" />
        <property name="managerUserId" type="string" />
        <property name="openShiftId" type="string" />
      </object>
      <string name="CreateShiftRequest_schedulingGroupId_def" />
      <string name="CreateShiftRequest_sharedShift_def_displayName_def" />
      <string name="CreateShiftRequest_sharedShift_def_notes_def" />
      <dateTimeString name="CreateShiftRequest_sharedShift_def_startDateTime_def" />
      <dateTimeString name="CreateShiftRequest_sharedShift_def_endDateTime_def" />
      <object name="CreateShiftRequest_sharedShift_def">
        <property name="displayName" type="string" />
        <property name="notes" type="string" />
        <property name="startDateTime" typeRef="CreateShiftRequest_sharedShift_def_startDateTime_def" />
        <property name="endDateTime" typeRef="CreateShiftRequest_sharedShift_def_endDateTime_def" />
        <property name="theme" type="string" />
        <property name="activities" typeRef="Activities" />
      </object>
      <string name="CreateShiftRequest_userId_def" />
      <object name="CreateShiftRequest">
        <property name="schedulingGroupId" type="string" />
        <property name="sharedShift" typeRef="CreateShiftRequest_sharedShift_def" />
        <property name="userId" type="string" />
      </object>
      <string name="CreateTimeOffRequest_sharedTimeOff_def_timeOffReasonId_def" />
      <dateTimeString name="CreateTimeOffRequest_sharedTimeOff_def_startDateTime_def" />
      <dateTimeString name="CreateTimeOffRequest_sharedTimeOff_def_endDateTime_def" />
      <object name="CreateTimeOffRequest_sharedTimeOff_def">
        <property name="timeOffReasonId" type="string" />
        <property name="startDateTime" typeRef="CreateTimeOffRequest_sharedTimeOff_def_startDateTime_def" />
        <property name="endDateTime" typeRef="CreateTimeOffRequest_sharedTimeOff_def_endDateTime_def" />
        <property name="theme" type="string" />
      </object>
      <string name="CreateTimeOffRequest_userId_def" />
      <object name="CreateTimeOffRequest">
        <property name="sharedTimeOff" typeRef="CreateTimeOffRequest_sharedTimeOff_def" />
        <property name="userId" type="string" />
      </object>
      <string name="ListTimesOff_responses_200_def__ux40_odata_context_def" />
      <array typeRef="TimeOffResponse" name="ListTimesOff_responses_200_def_value_def" />
      <object name="ListTimesOff_responses_200_def">
        <property name="@odata.context" type="string" />
        <property name="value" typeRef="ListTimesOff_responses_200_def_value_def" />
      </object>
      <string name="ListShifts_responses_200_def__ux40_odata_context_def" />
      <array typeRef="ShiftResponse" name="ListShifts_responses_200_def_value_def" />
      <object name="ListShifts_responses_200_def">
        <property name="@odata.context" type="string" />
        <property name="value" typeRef="ListShifts_responses_200_def_value_def" />
      </object>
      <string name="ListOpenShifts_responses_200_def__ux40_odata_context_def" />
      <array typeRef="OpenShiftResponse" name="ListOpenShifts_responses_200_def_value_def" />
      <object name="ListOpenShifts_responses_200_def">
        <property name="@odata.context" type="string" />
        <property name="value" typeRef="ListOpenShifts_responses_200_def_value_def" />
      </object>
      <string name="ListSchedulingGroups_responses_200_def__ux40_odata_context_def" />
      <array typeRef="SchedulingGroupResponse" name="ListSchedulingGroups_responses_200_def_value_def" />
      <object name="ListSchedulingGroups_responses_200_def">
        <property name="@odata.context" type="string" />
        <property name="value" typeRef="ListSchedulingGroups_responses_200_def_value_def" />
      </object>
      <string name="ListTimeOffRequests_responses_200_def__ux40_odata_context_def" />
      <array typeRef="TimeOffRequestResponse" name="ListTimeOffRequests_responses_200_def_value_def" />
      <object name="ListTimeOffRequests_responses_200_def">
        <property name="@odata.context" type="string" />
        <property name="value" typeRef="ListTimeOffRequests_responses_200_def_value_def" />
      </object>
      <string name="TimeOffRequestApprove_param_request_def_message_def" />
      <object name="TimeOffRequestApprove_param_request_def">
        <property name="message" type="string" />
      </object>
      <untypedObject name="TimeOffRequestApprove_responses_200_def" />
      <string name="TimeOffRequestDecline_param_request_def_message_def" />
      <object name="TimeOffRequestDecline_param_request_def">
        <property name="message" type="string" />
      </object>
      <untypedObject name="TimeOffRequestDecline_responses_200_def" />
      <string name="ListOfferShiftRequests_responses_200_def__ux40_odata_context_def" />
      <array typeRef="OfferShiftRequestResponse" name="ListOfferShiftRequests_responses_200_def_value_def" />
      <object name="ListOfferShiftRequests_responses_200_def">
        <property name="@odata.context" type="string" />
        <property name="value" typeRef="ListOfferShiftRequests_responses_200_def_value_def" />
      </object>
      <string name="OfferShiftRequestApprove_param_request_def_message_def" />
      <object name="OfferShiftRequestApprove_param_request_def">
        <property name="message" type="string" />
      </object>
      <untypedObject name="OfferShiftRequestApprove_responses_200_def" />
      <string name="OfferShiftRequestDecline_param_request_def_message_def" />
      <object name="OfferShiftRequestDecline_param_request_def">
        <property name="message" type="string" />
      </object>
      <untypedObject name="OfferShiftRequestDecline_responses_200_def" />
      <string name="ListSwapShiftsChangeRequests_responses_200_def__ux40_odata_context_def" />
      <array typeRef="SwapShiftsChangeRequestResponse" name="ListSwapShiftsChangeRequests_responses_200_def_value_def" />
      <object name="ListSwapShiftsChangeRequests_responses_200_def">
        <property name="@odata.context" type="string" />
        <property name="value" typeRef="ListSwapShiftsChangeRequests_responses_200_def_value_def" />
      </object>
      <string name="SwapShiftsChangeRequestApprove_param_request_def_message_def" />
      <object name="SwapShiftsChangeRequestApprove_param_request_def">
        <property name="message" type="string" />
      </object>
      <untypedObject name="SwapShiftsChangeRequestApprove_responses_200_def" />
      <string name="SwapShiftsChangeRequestDecline_param_request_def_message_def" />
      <object name="SwapShiftsChangeRequestDecline_param_request_def">
        <property name="message" type="string" />
      </object>
      <untypedObject name="SwapShiftsChangeRequestDecline_responses_200_def" />
      <string name="ListOpenShiftChangeRequests_responses_200_def__ux40_odata_context_def" />
      <array typeRef="OpenShiftChangeRequestResponse" name="ListOpenShiftChangeRequests_responses_200_def_value_def" />
      <object name="ListOpenShiftChangeRequests_responses_200_def">
        <property name="@odata.context" type="string" />
        <property name="value" typeRef="ListOpenShiftChangeRequests_responses_200_def_value_def" />
      </object>
      <string name="OpenShiftChangeRequestApprove_param_request_def_message_def" />
      <object name="OpenShiftChangeRequestApprove_param_request_def">
        <property name="message" type="string" />
      </object>
      <untypedObject name="OpenShiftChangeRequestApprove_responses_200_def" />
      <string name="OpenShiftChangeRequestDecline_param_request_def_message_def" />
      <object name="OpenShiftChangeRequestDecline_param_request_def">
        <property name="message" type="string" />
      </object>
      <untypedObject name="OpenShiftChangeRequestDecline_responses_200_def" />
      <string name="ListOpenShiftsCrossTeam_responses_200_def__ux40_odata_context_def" />
      <array typeRef="OpenShiftResponse" name="ListOpenShiftsCrossTeam_responses_200_def_value_def" />
      <object name="ListOpenShiftsCrossTeam_responses_200_def">
        <property name="@odata.context" type="string" />
        <property name="value" typeRef="ListOpenShiftsCrossTeam_responses_200_def_value_def" />
      </object>
      <string name="ListShiftsCrossTeam_responses_200_def__ux40_odata_context_def" />
      <array typeRef="ShiftResponse" name="ListShiftsCrossTeam_responses_200_def_value_def" />
      <object name="ListShiftsCrossTeam_responses_200_def">
        <property name="@odata.context" type="string" />
        <property name="value" typeRef="ListShiftsCrossTeam_responses_200_def_value_def" />
      </object>
      <string name="ListTimesOffCrossTeam_responses_200_def__ux40_odata_context_def" />
      <array typeRef="TimeOffResponse" name="ListTimesOffCrossTeam_responses_200_def_value_def" />
      <object name="ListTimesOffCrossTeam_responses_200_def">
        <property name="@odata.context" type="string" />
        <property name="value" typeRef="ListTimesOffCrossTeam_responses_200_def_value_def" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://power-apis-usgov001-public.azure-apihub.us/apim/shifts">
    <resource path="/{connectionId}/v1.0/teams/{teamId}/schedule">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="teamId" type="xs:string" required="true">
        <doc title="Add Team ID" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetSchedule" actionName="GetSchedule" siena:isDeprecated="false">
        <doc title="Get a Schedule's details&#xA;This operation returns details of a Schedule using the Schedule's unique ID." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:ScheduleResponse" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/teams/{teamId}/schedule/timesoff">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="teamId" type="xs:string" required="true">
        <doc title="Add Team ID" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ListTimesOff" actionName="ListTimesOff" siena:isDeprecated="false">
        <doc title="List all Time Off instances in a team&#xA;This operation returns all Time Off instances in a Schedule" />
        <request>
          <param style="query" name="startTime" type="xs:string">
            <doc title="yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)" />
          </param>
          <param style="query" name="endTime" type="xs:string">
            <doc title="yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)" />
          </param>
          <param style="query" name="$top" type="xs:int">
            <doc title="Items per page (enable Pagination under .../Settings)" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ListTimesOff_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/teams/{teamId}/schedule/timesoff">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="teamId" type="xs:string" required="true">
        <doc title="Add Team ID" />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="CreateTimeOff" actionName="CreateTimeOff" siena:isDeprecated="false">
        <doc title="Create a new Time Off instance&#xA;This operation creates a new Time Off instance and assigns it to a member of the team" />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="sharedTimeOff" path="/sharedTimeOff" type="service:CreateTimeOffRequest_sharedTimeOff_def" required="true" />
            <param style="plain" name="userId" path="/userId" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:TimeOffResponse" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/teams/{teamId}/schedule/timesoff/{timeOffId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="teamId" type="xs:string" required="true">
        <doc title="Add Team ID" />
      </param>
      <param style="template" name="timeOffId" type="xs:string" required="true">
        <doc title="The unique ID of the Time Off." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetTimeOff" actionName="GetTimeOff" siena:isDeprecated="false">
        <doc title="Get a Time Off instance&#xA;This operation returns details for a Time Off using its unique ID." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:TimeOffResponse" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/teams/{teamId}/schedule/timesoff/{timeOffId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="teamId" type="xs:string" required="true">
        <doc title="Add Team ID" />
      </param>
      <param style="template" name="timeOffId" type="xs:string" required="true">
        <doc title="The unique ID of the Time Off." />
      </param>
      <method siena:requiresAuthentication="true" name="DELETE" id="DeleteTimeOff" actionName="DeleteTimeOff" siena:isDeprecated="false">
        <doc title="Delete a Time Off instance&#xA;This operation deletes a Time Off using its unique ID." />
        <request />
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/teams/{teamId}/schedule/shifts">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="teamId" type="xs:string" required="true">
        <doc title="Add Team ID" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ListShifts" actionName="ListShifts" siena:isDeprecated="false">
        <doc title="List all Shifts in a team&#xA;This operation returns all Shifts assigned to members of a team" />
        <request>
          <param style="query" name="startTime" type="xs:string">
            <doc title="yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)" />
          </param>
          <param style="query" name="endTime" type="xs:string">
            <doc title="yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)" />
          </param>
          <param style="query" name="$top" type="xs:int">
            <doc title="Items per page (enable Pagination under .../Settings)" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ListShifts_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/teams/{teamId}/schedule/shifts">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="teamId" type="xs:string" required="true">
        <doc title="Add Team ID" />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="CreateShift" actionName="CreateShift" siena:isDeprecated="false">
        <doc title="Create a new Shift&#xA;This operation creates a new Shift and assigns it to a member of the team" />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="schedulingGroupId" path="/schedulingGroupId" type="xs:string" />
            <param style="plain" name="sharedShift" path="/sharedShift" type="service:CreateShiftRequest_sharedShift_def" required="true" />
            <param style="plain" name="userId" path="/userId" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ShiftResponse" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/teams/{teamId}/schedule/shifts/{shiftId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="teamId" type="xs:string" required="true">
        <doc title="Add Team ID" />
      </param>
      <param style="template" name="shiftId" type="xs:string" required="true">
        <doc title="The unique ID of the Shift." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetShift" actionName="GetShift" siena:isDeprecated="false">
        <doc title="Get a Shift&#xA;This operation returns details for a Shift using the Shift's unique ID." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:ShiftResponse" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/teams/{teamId}/schedule/shifts/{shiftId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="teamId" type="xs:string" required="true">
        <doc title="Add Team ID" />
      </param>
      <param style="template" name="shiftId" type="xs:string" required="true">
        <doc title="The unique ID of the Shift." />
      </param>
      <method siena:requiresAuthentication="true" name="DELETE" id="DeleteShift" actionName="DeleteShift" siena:isDeprecated="false">
        <doc title="Delete a Shift&#xA;This operation deletes a Shift using the Shift's unique ID." />
        <request />
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/teams/{teamId}/schedule/openShifts">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="teamId" type="xs:string" required="true">
        <doc title="Add Team ID" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ListOpenShifts" actionName="ListOpenShifts" siena:isDeprecated="false">
        <doc title="List all Open Shifts in a team&#xA;This operation returns all Open Shifts in a team." />
        <request>
          <param style="query" name="startTime" type="xs:string">
            <doc title="yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)" />
          </param>
          <param style="query" name="endTime" type="xs:string">
            <doc title="yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)" />
          </param>
          <param style="query" name="$top" type="xs:int">
            <doc title="Items per page (enable Pagination under .../Settings)" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ListOpenShifts_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/teams/{teamId}/schedule/openShifts">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="teamId" type="xs:string" required="true">
        <doc title="Add Team ID" />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="CreateOpenShift" actionName="CreateOpenShift" siena:isDeprecated="false">
        <doc title="Create a new Open Shift&#xA;Create a new Open Shift in a Schedule." />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="schedulingGroupId" path="/schedulingGroupId" type="xs:string" />
            <param style="plain" name="sharedOpenShift" path="/sharedOpenShift" type="service:EditOpenShiftRequest_sharedOpenShift_def" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:OpenShiftResponse" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/teams/{teamId}/schedule/openShifts/{openShiftId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="teamId" type="xs:string" required="true">
        <doc title="Add Team ID" />
      </param>
      <param style="template" name="openShiftId" type="xs:string" required="true">
        <doc title="The unique ID of the Open Shift." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetOpenShift" actionName="GetOpenShift" siena:isDeprecated="false">
        <doc title="Get an Open Shift&#xA;This operation returns details for an Open Shift." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:OpenShiftResponse" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/teams/{teamId}/schedule/openShifts/{openShiftId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="teamId" type="xs:string" required="true">
        <doc title="Add Team ID" />
      </param>
      <param style="template" name="openShiftId" type="xs:string" required="true">
        <doc title="The unique ID of the Open Shift." />
      </param>
      <method siena:requiresAuthentication="true" name="PUT" id="UpdateOpenShift" actionName="UpdateOpenShift" siena:isDeprecated="false">
        <doc title="Update an Open Shift&#xA;Update an Open Shift in a Schedule." />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="schedulingGroupId" path="/schedulingGroupId" type="xs:string" />
            <param style="plain" name="sharedOpenShift" path="/sharedOpenShift" type="service:EditOpenShiftRequest_sharedOpenShift_def" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:OpenShiftResponse" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/teams/{teamId}/schedule/openShifts/{openShiftId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="teamId" type="xs:string" required="true">
        <doc title="Add Team ID" />
      </param>
      <param style="template" name="openShiftId" type="xs:string" required="true">
        <doc title="The unique ID of the Open Shift." />
      </param>
      <method siena:requiresAuthentication="true" name="DELETE" id="DeleteOpenShift" actionName="DeleteOpenShift" siena:isDeprecated="false">
        <doc title="Delete an Open Shift&#xA;This operation deletes an Open Shift." />
        <request />
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/teams/{teamId}/schedule/timeOffReasons">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="teamId" type="xs:string" required="true">
        <doc title="Add Team ID" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ListTimeOffReasons" actionName="ListTimeOffReasons" siena:isDeprecated="false">
        <doc title="List all Time Off Reasons in a team&#xA;This operation returns the list of Time Off Reasons associated with a team." />
        <request>
          <param style="query" name="$top" type="xs:int">
            <doc title="Items per page (enable Pagination under .../Settings)" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:GetTimeOffReasonsResponse" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/teams/{teamId}/schedule/schedulinggroups">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="teamId" type="xs:string" required="true">
        <doc title="Add Team ID" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ListSchedulingGroups" actionName="ListSchedulingGroups" siena:isDeprecated="false">
        <doc title="List all Scheduling Groups in a team&#xA;This operation returns all Scheduling Groups in a Schedule." />
        <request>
          <param style="query" name="$top" type="xs:int">
            <doc title="Items per page (enable Pagination under .../Settings)" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ListSchedulingGroups_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/teams/{teamId}/schedule/schedulinggroups/{schedulingGroupId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="teamId" type="xs:string" required="true">
        <doc title="Add Team ID" />
      </param>
      <param style="template" name="schedulingGroupId" type="xs:string" required="true">
        <doc title="The unique ID of the Scheduling Group." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetSchedulingGroup" actionName="GetSchedulingGroup" siena:isDeprecated="false">
        <doc title="Get a Scheduling Group&#xA;This operation returns details for a Scheduling Group using its unique ID." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:SchedulingGroupResponse" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/teams/{teamId}/schedule/timeOffRequests">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="teamId" type="xs:string" required="true">
        <doc title="Add Team ID" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ListTimeOffRequests" actionName="ListTimeOffRequests" siena:isDeprecated="false">
        <doc title="List all Time Off requests in a team&#xA;This operation returns all Time Off requests in a Schedule." />
        <request>
          <param style="query" name="$top" type="xs:int">
            <doc title="Items per page (enable Pagination under .../Settings)" />
          </param>
          <param style="query" name="state" type="xs:string">
            <doc title="Request state filter" />
            <option value="pending" />
            <option value="approved" />
            <option value="declined" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ListTimeOffRequests_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/teams/{teamId}/schedule/timeOffRequests/{timeOffRequestId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="teamId" type="xs:string" required="true">
        <doc title="Add Team ID" />
      </param>
      <param style="template" name="timeOffRequestId" type="xs:string" required="true">
        <doc title="The unique ID of the Time Off request" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetTimeOffShiftRequest" actionName="GetTimeOffShiftRequest" siena:isDeprecated="false">
        <doc title="Get a Time Off request&#xA;This operation returns a Time Off request by ID." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:TimeOffRequestResponse" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/teams/{teamId}/schedule/timeOffRequests/{timeOffRequestId}/approve">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="teamId" type="xs:string" required="true">
        <doc title="Add Team ID" />
      </param>
      <param style="template" name="timeOffRequestId" type="xs:string" required="true">
        <doc title="The unique ID of the Time Off request" />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="TimeOffRequestApprove" actionName="TimeOffRequestApprove" siena:isDeprecated="false">
        <doc title="Approve a Time Off request&#xA;This operation allows managers to approve a Time Off request." />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="message" path="/message" type="xs:string" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:TimeOffRequestApprove_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/teams/{teamId}/schedule/timeOffRequests/{timeOffRequestId}/decline">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="teamId" type="xs:string" required="true">
        <doc title="Add Team ID" />
      </param>
      <param style="template" name="timeOffRequestId" type="xs:string" required="true">
        <doc title="The unique ID of the Time Off request" />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="TimeOffRequestDecline" actionName="TimeOffRequestDecline" siena:isDeprecated="false">
        <doc title="Decline a Time Off request&#xA;This operation allows managers to decline a Time Off request." />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="message" path="/message" type="xs:string" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:TimeOffRequestDecline_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/teams/{teamId}/schedule/offerShiftRequests">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="teamId" type="xs:string" required="true">
        <doc title="Add Team ID" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ListOfferShiftRequests" actionName="ListOfferShiftRequests" siena:isDeprecated="false">
        <doc title="List all Offer Shift requests in a team&#xA;This operation returns all Offer Shift requests in a Schedule." />
        <request>
          <param style="query" name="$top" type="xs:int">
            <doc title="Items per page (enable Pagination under .../Settings)" />
          </param>
          <param style="query" name="state" type="xs:string">
            <doc title="Request state filter" />
            <option value="pending" />
            <option value="approved" />
            <option value="declined" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ListOfferShiftRequests_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/teams/{teamId}/schedule/offerShiftRequests/{offerShiftRequestId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="teamId" type="xs:string" required="true">
        <doc title="Add Team ID" />
      </param>
      <param style="template" name="offerShiftRequestId" type="xs:string" required="true">
        <doc title="The unique ID of the Offer Shift request" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetOfferShiftRequest" actionName="GetOfferShiftRequest" siena:isDeprecated="false">
        <doc title="Get an Offer Shift request&#xA;This operation returns an Offer Shift request by ID." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:OfferShiftRequestResponse" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/teams/{teamId}/schedule/offerShiftRequests/{offerShiftRequestId}/approve">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="teamId" type="xs:string" required="true">
        <doc title="Add Team ID" />
      </param>
      <param style="template" name="offerShiftRequestId" type="xs:string" required="true">
        <doc title="The unique ID of the Offer Shift request" />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="OfferShiftRequestApprove" actionName="OfferShiftRequestApprove" siena:isDeprecated="false">
        <doc title="Approve an Offer Shift request&#xA;This operation allows recipients/managers to approve an Offer Shift request." />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="message" path="/message" type="xs:string" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:OfferShiftRequestApprove_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/teams/{teamId}/schedule/offerShiftRequests/{offerShiftRequestId}/decline">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="teamId" type="xs:string" required="true">
        <doc title="Add Team ID" />
      </param>
      <param style="template" name="offerShiftRequestId" type="xs:string" required="true">
        <doc title="The unique ID of the Offer Shift request" />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="OfferShiftRequestDecline" actionName="OfferShiftRequestDecline" siena:isDeprecated="false">
        <doc title="Decline an Offer Shift request&#xA;This operation allows users to decline an Offer Shift request." />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="message" path="/message" type="xs:string" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:OfferShiftRequestDecline_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/teams/{teamId}/schedule/swapShiftsChangeRequests">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="teamId" type="xs:string" required="true">
        <doc title="Add Team ID" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ListSwapShiftsChangeRequests" actionName="ListSwapShiftsChangeRequests" siena:isDeprecated="false">
        <doc title="List all Swap Shifts requests in a team&#xA;This operation returns all Swap Shifts requests in a Schedule." />
        <request>
          <param style="query" name="$top" type="xs:int">
            <doc title="Items per page (enable Pagination under .../Settings)" />
          </param>
          <param style="query" name="state" type="xs:string">
            <doc title="Request state filter" />
            <option value="pending" />
            <option value="approved" />
            <option value="declined" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ListSwapShiftsChangeRequests_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/teams/{teamId}/schedule/swapShiftsChangeRequests/{swapShiftsChangeRequestId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="teamId" type="xs:string" required="true">
        <doc title="Add Team ID" />
      </param>
      <param style="template" name="swapShiftsChangeRequestId" type="xs:string" required="true">
        <doc title="The unique ID of the request" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetSwapShiftsChangeRequest" actionName="GetSwapShiftsChangeRequest" siena:isDeprecated="false">
        <doc title="Get a Swap Shifts request&#xA;This operation returns a Swap Shifts request by ID." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:SwapShiftsChangeRequestResponse" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/teams/{teamId}/schedule/swapShiftsChangeRequests/{swapShiftsChangeRequestId}/approve">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="teamId" type="xs:string" required="true">
        <doc title="Add Team ID" />
      </param>
      <param style="template" name="swapShiftsChangeRequestId" type="xs:string" required="true">
        <doc title="The unique ID of the request" />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="SwapShiftsChangeRequestApprove" actionName="SwapShiftsChangeRequestApprove" siena:isDeprecated="false">
        <doc title="Approve a Swap Shifts request&#xA;This operation allows a user to approve a Swap Shifts request." />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="message" path="/message" type="xs:string" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:SwapShiftsChangeRequestApprove_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/teams/{teamId}/schedule/swapShiftsChangeRequests/{swapShiftsChangeRequestId}/decline">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="teamId" type="xs:string" required="true">
        <doc title="Add Team ID" />
      </param>
      <param style="template" name="swapShiftsChangeRequestId" type="xs:string" required="true">
        <doc title="The unique ID of the request" />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="SwapShiftsChangeRequestDecline" actionName="SwapShiftsChangeRequestDecline" siena:isDeprecated="false">
        <doc title="Decline a Swap Shifts request&#xA;This operation allows users to decline a Swap Shifts request." />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="message" path="/message" type="xs:string" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:SwapShiftsChangeRequestDecline_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/teams/{teamId}/schedule/openShiftChangeRequests">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="teamId" type="xs:string" required="true">
        <doc title="Add Team ID" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ListOpenShiftChangeRequests" actionName="ListOpenShiftChangeRequests" siena:isDeprecated="false">
        <doc title="List all Open Shift requests in a team&#xA;This operation returns all Open Shift change requests in a Schedule." />
        <request>
          <param style="query" name="$top" type="xs:int">
            <doc title="Items per page (enable Pagination under .../Settings)" />
          </param>
          <param style="query" name="state" type="xs:string">
            <doc title="Request state filter" />
            <option value="pending" />
            <option value="approved" />
            <option value="declined" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ListOpenShiftChangeRequests_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/teams/{teamId}/schedule/openShiftChangeRequests/{openShiftChangeRequestId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="teamId" type="xs:string" required="true">
        <doc title="Add Team ID" />
      </param>
      <param style="template" name="openShiftChangeRequestId" type="xs:string" required="true">
        <doc title="The unique ID of the request" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetOpenShiftChangeRequest" actionName="GetOpenShiftChangeRequest" siena:isDeprecated="false">
        <doc title="Get an Open Shift request&#xA;This operation returns an Open Shift change request by ID." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:OpenShiftChangeRequestResponse" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/teams/{teamId}/schedule/openShiftChangeRequests/{openShiftChangeRequestId}/approve">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="teamId" type="xs:string" required="true">
        <doc title="Add Team ID" />
      </param>
      <param style="template" name="openShiftChangeRequestId" type="xs:string" required="true">
        <doc title="The unique ID of the request" />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="OpenShiftChangeRequestApprove" actionName="OpenShiftChangeRequestApprove" siena:isDeprecated="false">
        <doc title="Approve an Open Shift request&#xA;This operation allows managers to approve an Open Shift request." />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="message" path="/message" type="xs:string" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:OpenShiftChangeRequestApprove_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v1.0/teams/{teamId}/schedule/openShiftChangeRequests/{openShiftChangeRequestId}/decline">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="teamId" type="xs:string" required="true">
        <doc title="Add Team ID" />
      </param>
      <param style="template" name="openShiftChangeRequestId" type="xs:string" required="true">
        <doc title="The unique ID of the request" />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="OpenShiftChangeRequestDecline" actionName="OpenShiftChangeRequestDecline" siena:isDeprecated="false">
        <doc title="Decline an Open Shift request&#xA;This operation allows managers to decline an Open Shift request." />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="message" path="/message" type="xs:string" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:OpenShiftChangeRequestDecline_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/beta/me/joinedTeams/getOpenShifts">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="ListOpenShiftsCrossTeam" actionName="ListOpenShiftsCrossTeam" siena:isDeprecated="false">
        <doc title="List all Open Shifts from my teams&#xA;This operation returns Open Shifts that need to be filled from all your teams." />
        <request>
          <param style="query" name="startTime" type="xs:string">
            <doc title="yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)" />
          </param>
          <param style="query" name="endTime" type="xs:string">
            <doc title="yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)" />
          </param>
          <param style="query" name="$top" type="xs:int">
            <doc title="Items per page (enable Pagination under .../Settings)" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ListOpenShiftsCrossTeam_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/beta/me/joinedTeams/getShifts">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="ListShiftsCrossTeam" actionName="ListShiftsCrossTeam" siena:isDeprecated="false">
        <doc title="List all Shifts from my teams&#xA;This operation returns assigned Shifts from all your teams." />
        <request>
          <param style="query" name="startTime" type="xs:string">
            <doc title="yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)" />
          </param>
          <param style="query" name="endTime" type="xs:string">
            <doc title="yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)" />
          </param>
          <param style="query" name="assignedToUserName" type="xs:string">
            <doc title="Assigned to user with name" />
          </param>
          <param style="query" name="$top" type="xs:int">
            <doc title="Items per page (enable Pagination under .../Settings)" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ListShiftsCrossTeam_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/beta/me/joinedTeams/getTimesOff">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="ListTimesOffCrossTeam" actionName="ListTimesOffCrossTeam" siena:isDeprecated="false">
        <doc title="List all Times Off from my teams&#xA;This operation returns times when people are off from all your teams." />
        <request>
          <param style="query" name="startTime" type="xs:string">
            <doc title="yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)" />
          </param>
          <param style="query" name="endTime" type="xs:string">
            <doc title="yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)" />
          </param>
          <param style="query" name="assignedToUserName" type="xs:string">
            <doc title="Assigned to user with name" />
          </param>
          <param style="query" name="$top" type="xs:int">
            <doc title="How many times off to fetch" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ListTimesOffCrossTeam_responses_200_def" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_shifts" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>